<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
</head>
<body>
<div class="container">

    <br>

    <h1 th:if="${action.equals('create')}">CREATE NEW:</h1>
    <h1 th:if="${action.equals('edit')}">UPDATE TODO:</h1>

    <br/><br/>

    <a class="btn btn-link" style="display: inline-block"  href="/todo/list">back</a>
    <br/><br/>

    <form action="#" th:action="${action.equals('create') ? '/todo/add-todo' : '/todo/edit-todo'}" th:object="${todo}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label th:for="description">Description: </label>
        <input class="form-control" type="text" th:field="*{description}" />
        <br/>
        <input class="btn btn-secondary" type="submit" value="Submit" />
    </form>
</div>

</body>
</html>